POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_USER=piggy
POSTGRES_PASSWORD=LOCAL_PW
POSTGRES_DB=piggy_db
SECRET_KEY=generate-a-secure-secret-key-here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
BACKEND_CORS_ORIGINS='["http://localhost:3000", "http://localhost:8000", "http://localhost:8080"]'

MAIL_USERNAME=""
MAIL_PASSWORD=""
MAIL_FROM="noreply@piggy.example"
MAIL_PORT=1025
MAIL_SERVER="localhost"
MAIL_FROM_NAME="Piggy"
MAIL_STARTTLS=False
MAIL_SSL_TLS=False
USE_CREDENTIALS=False
VALIDATE_CERTS=False

FINTS_PRODUCT_ID="6151256F3D4F9975B877BD4A2"